h1, h2 {
    border-bottom: 2px solid #ddd;
}

figure {
    width: fit-content;
}

figcaption {
    word-wrap: break-word;
    max-width: 100%;
}

abbr[title] {
    cursor: help;
}

#markdown-toc {
    border: 1px dashed lightgray;
    padding: 10px;
    margin-right: 30px;
}

#markdown-toc > li {
    margin-left: 30px;
}